version: '3.8'

services:
  postgres:
    image: postgres:16
    networks:
      - backend

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    networks:
      - backend

networks:
  backend:
    driver: bridge
