server:
  port: 9080

spring:
  messages:
    basename: messages/apiResponseMessage
    encoding: UTF-8
  profiles:
    active: local
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/${AUTH_DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
