spring:
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer  # 메시지 key를 문자열로 직렬화
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        acks: all
        enable.idempotence: true  #멱등 프로듀서 활성화 (중복 전송 방지)
        max.in.flight.requests.per.connection: 5 # 멱등 프로듀서 사용 시 권장 값
        retries: 2147483647  # 전송 실패 시 재시도 횟수
        delivery.timeout.ms: 120000  # 메시지 전달 전체 타임아웃
        request.timeout.ms: 30000   # 브로커 응답 대기 시간
        linger.ms: 5 # 배치 전송을 위해 잠시 대기 (Throughput 향상)
        compression.type: snappy  # 네트워크 전송량 감소 (CPU ↔ 네트워크 트레이드오프)
        spring.json.add.type.headers: false # JSON 직렬화 시 타입 정보를 헤더에 붙이지 않음

    consumer:
      enable-auto-commit: false  # 자동 커밋 비활성화
      auto-offset-reset: earliest # 커밋된 오프셋이 없을 경우 어디서부터 읽을지
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer # 메시지 key 문자열 역직렬화
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer  #ErrorHandlingDeserializer는 역직렬화 예외를 잡아서
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer   # 실제 JSON 역직렬화를 담당하는 delegate
        spring.json.trusted.packages: "com.mockio.*"   # 역직렬화 허용 패키지
        spring.json.use.type.headers: false   # 타입 헤더를 사용하지 않고